<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Movie Information</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>

<div th:insert="~{layout :: navbar}"></div>

<div>
    <div class="container">

        <h1>Movie Information</h1>
        <div class="details-grid">

            <div class="details-line">
                <label>ID:</label>
                <span th:text="${movie.id}"></span>
            </div>

            <div class="details-line">
                <label>Title:</label>
                <span th:text="${movie.title}"></span>
            </div>

            <div class="details-line">
                <label>Director:</label>
                <span th:text="${movie.director}"></span>
            </div>

            <div class="details-line">
                <label>Rating:</label>
                <span th:text="${movie.rating}"></span>
            </div>

            <div class="details-line">
                <label>Genre:</label>
                <span th:text="${movie.genre}"></span>
            </div>

            <div class="details-line">
                <label>Image:</label>
                <img th:src="${movie.imageUrl}" alt="Movie Poster" class="movie-poster">
            </div>

        </div>

    </div>
</div>


</body>
</html>